* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}
main {
    height: 75%;
}

header {
    background-color: #909BFF;
    margin: 0;
    height: 10vh;
    display: flex;
    align-items:center;
    width: 100%;
}
header h1 {
    margin: 0 0 0 2vw;
}

nav {
    background-color: #B39940;
    margin: 0;
    height: 5vh;
}
nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    padding: 0;
    width: 50%;
    height: 100%;
}
nav li {
    margin: 0 0 0 2vw;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
nav a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525CB3;
}
nav a:hover {
    background-color: #525CB3;
    color: #B39940;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.converter-chart {
    width: 50vw;
    text-align: center;
    height: 40vh;
    border-radius: 10px;
}
.converter-chart select {
    width: 50%;
    height: 40px;
}
.converter-chart input {
    width: 50%;
    height: 40px;
}
[data-visible="no"] {
    display: none;
}
#sides {
    display: flex;
    height: 100%;
}
.title {
    background-color: #A8B1FF;
    border-radius: 10px;
    width: 100%;
}
.title select {
    margin: 0 0 8px 0;
}
.title p {
    margin: auto auto auto 0;
}
.options {
    height: 100%;
    width: 100%;
    background-color: #A8B1FF;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#result {
    background-color: #A8B1FF;
    height: 25%;
    margin: 16px 0 0 0;
    border-radius: 10px;
}
#left {
    margin-right: 8px;
}
@media screen and (max-width: 700px) {
    main {
        height: 50%;
    }
    .converter-chart {
        width: 90%;
    }
    .converter-chart input, .converter-chart select {
        width: 90%;
    }
}